<div class="container grid px-4 mx-auto" data-controller="chart">
  <div class="relative min-w-0">
    <canvas id="jschart" aria-label="Cost of electricity over time" role="img"></canvas>
  </div>
</div>