<div>

  <h2 class="text-4xl">Cells</h2>
  <% @cells.each do |cell| %>
    <div class="grid max-w-3xl my-4 border-2 shadow-lg border-sky-300">
      <p class="bg-sky-100"><%= cell %></p>
    </div>
  <% end %>

</div>
